.carousel-container {
  text-align: center;
  margin: 20px;
 
}
.carousel-container img {
    width: auto;
    height: 450px;
    object-fit: cover;
    min-height: 100%;

}


.div-stylo {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}



